p{
    font-family: 'Lobster', cursive;
}
html{
    background-image: url(file:///D:/pls/html/imagen/hustuna.png.webp);
    color:#fff;
}
a{
    background-color: rgb(255, 0, 0);
    color:#fff;
}
